[Desktop Entry]
Categories=AudioVideo;
Comment=Descargar videos desde internet, principalmente youtube
Encoding=UTF-8
Exec=meowndloads
GenericName=Pues Miau
# Translators: This is an icon name, don't translate!
Icon=meowndloads.png
Name=Meowndloads
Terminal=false
Type=Application
Name[es_CO]=Meowndloads
