[Desktop Entry]
Categories=AudioVideo;
Comment=Descargar videos desde internet, principalmente youtube
Encoding=UTF-8
Exec=puesmiau
GenericName=Pues Miau
# Translators: This is an icon name, don't translate!
Icon=puesmiau.png
Name=PuesMiau
Terminal=false
Type=Application
Name[es_CO]=Pues Miau
